<!-- Main content -->
<section class="content">



<!-- Main row -->
<div class="row">
<!-- Left col -->
<section class="col-lg-6 connectedSortable">
  <!-- Box (with bar chart) -->


  <!-- quick email widget -->
  <div class="box box-info">
    <div class="box-header">
      <i class="fa fa-check"></i>
      <h3 class="box-title">Creat category</h3>
      <!-- tools box -->

    </div>
    <div class="box-body">
      <form action="#" method="post">
        <div class="form-group">
          <input type="email" class="form-control" name="emailto" placeholder="category name..."/>
        </div>


      </form>
    </div>
    <div class="box-footer clearfix">
      <button class="pull-right btn btn-default" id="sendEmail">Create <i class="fa fa-check"></i></button>
    </div>
  </div>
  <div class="table-responsive">
    <!-- .table - Uses sparkline charts-->
    <% if @categories.any? %>
        <table class="table table-striped">
          <tr>
            <th>Category name</th>
            <th>Date</th>
          </tr>
          <% @categories.each do |category| %>
              <tr>
                <td><%= link_to category.name, category_path(category) %></td>

                <td><%= category.created_at.strftime('%d %B, %y') %></td>
              </tr>
        <% end %>
        </table><!-- /.table -->
    <% end %>

  </div>

</section><!-- /.Left col -->
<!-- right col (We are only adding the ID to make the widgets sortable)-->
<section class="col-lg-6 connectedSortable">
  <!-- Map box -->
  <%= render 'admins/visitor_map' %>
  <!-- /.box -->
  <!--to to list box-->
  <%= render 'admins/visitor_to_do_list' %>
  <!-- /.box -->

</section><!-- right col -->
</div><!-- /.row (main row) -->

</section><!-- /.content -->