<div class="widget add-banner">
  <img src="/images/13471096154350703595.gif">
</div>
<div class="widget add-banner">
  <img src="/images/pran4-2-15.gif">
</div>
<!-- Widget top rated -->
<div class="widget">
  <div class="widget_title"><h3>সর্বাধিক পঠিত</h3></div>
  <div class="tb_widget_top_rated clearfix">
    <% if @most_viewed_news.any? %>
        <% @most_viewed_news.each do |mv_news| %>
            <div class="item clearfix">
              <div class="item_thumb clearfix">
                <%= link_to news_path(mv_news, :class=>'visible animated'), alt: 'Post' do  %>
                    <%= image_tag mv_news.photo %>
                <% end %>
                <!--<a href="#"><img src="/images/2.jpg" alt="Post" class="visible animated"></a>-->
              </div>
              <div class="item_content">

                <h4>
                  <%= link_to mv_news.title, news_path(mv_news) %>
                  <!--<a href="#">পদ্মা সেতু নির্মাণে বিঘ্ন ঘটার আশঙ্কা নেই : সেতুমন্ত্রী</a>-->
                </h4>
              </div>

            </div>
        <% end %>
    <% end %>
  </div>
</div><!-- End Widget top rated -->

<!-- Widget Banners facebook -->
<div class="widget add-banner">
  <div class="widget_title "><h3>ফেসবুক পেইজ</h3></div>
  <img src="/images/fb.jpg">

</div><!-- End Widget Banners facebook -->
<!-- Widget Recent list posts -->
<!-- Widget top rated -->
<div class="widget">
  <div class="widget_title"><h3><a href="#">ভিডিও সংবাদ</a></h3></div>
  <div class="tb_widget_top_rated clearfix">
    <!-- Post item -->
    <div class="widget">
      <div class="video-play">
        <a href="#"><img src="/images/2.jpg" alt="Post" class="visible animated"></a>
      </div>
      <div class="item_content">

        <h4><a href="#">পদ্মা সেতু নির্মাণে বিঘ্ন ঘটার আশঙ্কা নেই : সেতুমন্ত্রী</a></h4>
      </div>

    </div><!-- End Post item -->
    <div class="item clearfix">
      <div class="item_thumb clearfix">
        <a href="#"><img src="/images/2.jpg" alt="Post" class="visible animated"></a>
      </div>
      <div class="item_content">

        <h6><a href="#">পদ্মা সেতু নির্মাণে বিঘ্ন ঘটার আশঙ্কা নেই : সেতুমন্ত্রী</a></h6>
      </div>

    </div><!-- End Post item -->
    <!-- Post item -->
    <div class="item clearfix">
      <div class="item_thumb clearfix">
        <a href="#"><img src="/images/1.jpg" alt="Post" class="visible animated"></a>
      </div>
      <div class="item_content">

        <h6><a href="#">পদ্মা সেতু নির্মাণে বিঘ্ন ঘটার আশঙ্কা নেই : সেতুমন্ত্রী</a></h6>
      </div>

    </div><!-- End Post item -->
    <!-- Post item -->
    <div class="item clearfix">
      <div class="item_thumb clearfix">
        <a href="#"><img src="/images/3.jpg" alt="Post" class="visible animated"></a>
      </div>
      <div class="item_content">

        <h6><a href="#">পদ্মা সেতু নির্মাণে বিঘ্ন ঘটার আশঙ্কা নেই : সেতুমন্ত্রী</a></h6>
      </div>

    </div><!-- End Post item -->


  </div>
</div><!-- End Widget top rated -->
<!-- Widget posts -->
<div class="widget">
  <div class="widget_title"><h3>ফটো সংবাদ</h3></div>
  <div class="tb_widget_posts_big clearfix">

    <div class="content_slider">
      <ul>
        <!-- Item -->
        <li>
          <a href="post_single.html"><img height="150" src="/images/5.jpg" alt="Slider"></a>
          <div class="slider_caption">

            <div class="thumb_link">
              <h6><a href="post_single.html">যতোই কল্পকাহিনী তৈরি করা হোক বিএনপিকে ভাঙা যাবে না</a></h6>
            </div>
          </div>
        </li><!-- End Item -->
        <!-- Item -->
        <li>
          <a href="post_single.html"><img height="150" src="/images/7.jpg" alt="Slider"></a>
          <div class="slider_caption">

            <div class="thumb_link">
              <h6><a href="post_single.html">প্রধানমন্ত্রীর সঙ্গে বিদায়ী সেনাপ্রধানের সাক্ষাৎ</a></h6>
            </div>
          </div>
        </li><!-- End Item -->
        <!-- Item -->
        <li>
          <a href="post_single.html"><img height="150" src="/images/8.jpg" alt="Slider"></a>
          <div class="slider_caption">

            <div class="thumb_link">
              <h6><a href="post_single.html">প্রধানমন্ত্রীর সঙ্গে বিদায়ী সেনাপ্রধানের সাক্ষাৎ</a></h6>
            </div>
          </div>
        </li><!-- End Item -->
      </ul>
    </div><!-- End Content slider -->
  </div>
</div><!-- End Widget posts -->
<!-- Widget Banners facebook -->
<div class="widget add-banner">
  <div class="widget_title "><h3>টুইটার</h3></div>
  <img src="/images/fb.jpg">

</div><!-- End Widget Banners facebook -->
