
<!-- Header -->

<!-- End Header -->
<!-- Section -->
<section>
<div class="container">
<div class="row">
<!-- Main content -->
<div class="col col_7_of_12">
<!-- Content slider -->
<%= render 'users/left_side_bar_user_tem' %>

<!--category End Post news -->
</div><!-- End Main content -->
<!-- Secondary sidebar -->
<div class="col col_2_of_12">
<%= render 'users/second_last_side_bar_user_tem' %>
</div><!-- End Secondary sidebar -->
<!-- Sidebar -->
<div class="col col_3_of_12">
<%= render 'users/last_right_side_row_user_tem' %>
</div><!-- End Sidebar -->

</div>

<!-- start ad -->
<div>
  <a href="#" target="_blank"><img src="/images/add.jpg"></a>
</div>
<!-- end ad -->
<!-- Panel title -->
<div class="panel_title">
  <div>
    <h4><a href="#">বিনোদন</a></h4>
  </div>
</div><!-- End Panel title -->
<div class="row">
  <div class="col col_4_of_12">
    <!-- Layout post 1 -->
    <div class="layout_post_1">
      <div class="item_thumb">
        <div class="thumb_icon">
          <a href="post_single.html" style="background-color: #F89406"><i class="fa fa-copy"></i></a>
        </div>
        <div class="thumb_hover">
          <a href="post_single.html"><img src="/images/14.jpg" alt="Post" class="visible animated"></a>
        </div>
        <div class="thumb_meta">
          <span class="category" style="background-color: #F89406"><a href="blog.html">Football</a></span>
          <span class="comments"><a href="post_single.html">15 Comments</a></span>
        </div>
      </div>
      <div class="item_content">
        <h4><a href="post_single.html">একটা গল্প বলি শোনো</a></h4>
        <div class="item_meta clearfix">
          <span class="meta_date">October 3, 2014</span>
          <span class="meta_likes"><a href="#">29</a></span>
        </div>
        <p>আড্ডাটা মূলত তিন ভাইবোনের। ১৫ জুন সন্ধ্যায় সন্ধির স্টুডিওতে বসে আমরা শুধু দু-একটা কথা জুড়ে দিই। কেমন করে একজন চিরকুমারের সঙ্গে হলো স্বাগতার প্রেম? কৈশোরে সন্ধি কীভাবে বড় বোনের পাওয়া উপহার চুরি করে তাঁর বান্ধবীকে দিয়ে দিতেন?</p>
      </div>
    </div><!-- End Layout post 1 -->
  </div>
  <div class="col col_4_of_12">
    <!-- Layout post 1 -->
    <div class="layout_post_1">
      <div class="item_thumb">
        <div class="thumb_icon">
          <a href="post_single.html" style="background-color: #87D37C"><i class="fa fa-copy"></i></a>
        </div>
        <div class="thumb_hover">
          <a href="post_single.html"><img src="/images/01_Anannya_Gulshan_A+Pramanik_080315_0013.jpg" alt="Post" class="visible animated"></a>
        </div>
        <div class="thumb_meta">
          <span class="category" style="background-color: #87D37C"><a href="blog.html">Fashion</a></span>
          <span class="comments"><a href="post_single.html">15 Comments</a></span>
        </div>
      </div>
      <div class="item_content">
        <h4><a href="post_single.html">সেলিব্রেটি ও অতিথি উপস্থাপক নিষিদ্ধ চীনের টিভিতে</a></h4>
        <div class="item_meta clearfix">
          <span class="meta_date">October 3, 2014</span>
          <span class="meta_likes"><a href="#">29</a></span>
        </div>
        <p>আড্ডাটা মূলত তিন ভাইবোনের। ১৫ জুন সন্ধ্যায় সন্ধির স্টুডিওতে বসে আমরা শুধু দু-একটা কথা জুড়ে দিই। কেমন করে একজন চিরকুমারের সঙ্গে হলো স্বাগতার প্রেম? কৈশোরে সন্ধি কীভাবে বড় বোনের পাওয়া উপহার চুরি করে তাঁর বান্ধবীকে দিয়ে দিতেন?</p>
      </div>
    </div><!-- End Layout post 1 -->
  </div>
  <div class="col col_4_of_12">
    <!-- Layout post 1 -->
    <div class="layout_post_1">
      <div class="item_thumb">
        <div class="thumb_icon">
          <a href="post_single.html" style="background-color: #D2527F"><i class="fa fa-copy"></i></a>
        </div>
        <div class="thumb_hover">
          <a href="post_single.html"><img src="/images/image_130390.jpg" alt="Post" class="visible animated"></a>
        </div>
        <div class="thumb_meta">
          <span class="category" style="background-color: #D2527F"><a href="blog.html">Music</a></span>
          <span class="comments"><a href="post_single.html">15 Comments</a></span>
        </div>
      </div>
      <div class="item_content">
        <h4><a href="post_single.html">সেলিব্রেটি ও অতিথি উপস্থাপক নিষিদ্ধ চীনের টিভিতে</a></h4>
        <div class="item_meta clearfix">
          <span class="meta_date">October 3, 2014</span>
          <span class="meta_likes"><a href="#">29</a></span>
        </div>
        <p>আড্ডাটা মূলত তিন ভাইবোনের। ১৫ জুন সন্ধ্যায় সন্ধির স্টুডিওতে বসে আমরা শুধু দু-একটা কথা জুড়ে দিই। কেমন করে একজন চিরকুমারের সঙ্গে হলো স্বাগতার প্রেম? কৈশোরে সন্ধি কীভাবে বড় বোনের পাওয়া উপহার চুরি করে তাঁর বান্ধবীকে দিয়ে দিতেন?</p>
      </div>
    </div><!-- End Layout post 1 -->
  </div>
</div>


</div><!-- End Main content -->

</section><!-- End Section -->
<!-- Footer -->

<!-- Copyright -->
