<div class="brteaking_news">
  <div class="headline"><h3>ব্রেকিং নিউজ </h3></div>
  <div class="brteaking_title">
    <li><a><i class="fa fa-angle-double-left"></i> ভিওআইপি কল আনছে টেলিটক!</a></li>

  </div>
</div>