<div id="copyright" role="contentinfo">
  <div class="col col_4_of_12 copyright_logo ">
    <%= link_to root_path,:data => { :no_turbolink => true } do %>
    <img src="/images/ANLogo24.jpg">
    <% end %>
    <h5>Copyright © 2015
      All rights reserved </h5>

  </div>
  <div class="copyright_content col_4_of_12">
    <p>সম্পাদক : সরদার ফরিদ আহমদ<br>
      ৪৬ কাজী নজরুল ইসলাম এভিনিউ, কারওয়ান বাজার
      ঢাকা ১২১৫, বাংলাদেশ <br>
      ফোন : +৮৮০১৭৭৭৬৮১৫৭৫ <br>
      ই-মেইল : info@natunbarta.com </p>
  </div>
  <div class="col col_4_of_12 developed_logo ">
    <a href="http://www.convergent-soft.com/" target="_blank"> <img src="/images/linaro-logo.png"></a>
    <h4>Developed by : </h4>
  </div>
</div>