<div id="copyright" role="contentinfo">
  <div class="container">
    <p>&copy; 2015 alokito narayanganj. All rights reserved. <a href="#" target="_blank">convergent soft</a></p>
  </div>
</div><!-- End Copyright -->