<% if Headline.all.any? %>
    <div class="sironam_news container">
      <div class="headline"><h3>শিরোনাম </h3></div>
      <div class="sironam_title ticker"data-duration="20" data-loop="2" data-effect="linear">
    <span>
      <ul id="SironamSlideUl">
        <% Headline.all.each do |headline| %>
            <li>
              <%= link_to news_path(headline.post),:data => { :no_turbolink => true } do %>
                  <img src="/images/list-style-2.png">
                  <%= headline.post.title %>!
              <% end %>
            </li>
        <% end %>
      </ul>

    </span>

      </div>
    </div>
<% end %>
