<div class="sironam_news container">
  <div class="headline"><h3>শিরোনাম </h3></div>
  <div class="sironam_title">
    <li><a href="#"><img src="/images/list-style-2.png"> ভিওআইপি কল আনছে টেলিটক!</a></li>
    <li><a href="#"><img src="/images/list-style-2.png"> যতোই কল্পকাহিনী তৈরি করা হোক বিএনপিকে ভাঙা যাবে না</a></li>
    <li><a href="#"><img src="/images/list-style-2.png"> যতোই কল্পকাহিনী তৈরি </a></li>
  </div>
</div>